body {
    font-size: 1.125rem;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 1.25rem;
    }
  }
  
  .container {
    max-width: 800px;
    margin: 7rem auto;
  }
  
  h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
  }
  
  .user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .user-info div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-btn {
    font-family: "Roboto", sans-serif;
    background-color: #712cf9;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .edit-btn:hover {
    background-color: #6528e0;
    border-color: #6528e0;
  }
  
  .edit-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(112.520718, 44.062154, 249.437846, 0.5);
  }
  
  .edit-btn:active {
    background-color: #5a23c8;
    border-color: #5a23c8;
  }
  
  /* Navbar styles */
  header {
    position: sticky;
    top: 0;
    z-index: 1500;
  }
  
  .navbar {
    background-color: #333;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='%23ffffff'%3E%3Cpath stroke-linecap='round' stroke-miterlimit='10' strokeWidth='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  